
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d3e46;
    color: white;
}


html {
    scroll-behavior: smooth;
}

.container_nav {
    display: flex;
    background-color: #365B6D;
    align-items: center;
    justify-content: center;
    position: fixed; 
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    padding: 10px 0;
}

.imagem_logo {
    margin-right: auto; 
    padding-left: 10%;
    
}

.imagem_repre{
    width: 100%;
    height: 500px; /* Aumenta a imagem em telas grandes */
    object-fit: cover;
    object-position: center;
}


/* Menu hambúrguer */
.menu-hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
    margin-left: auto;
}

.itens.show {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease; 
    color:  #333;
}



.menu-hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
}

/* Estilização dos itens do menu */
.itens {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center; 
    margin-left: 2%;
    margin-right: auto;
}

.itens a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease, transform 0.2s ease-out;
    text-align: center;
}

.itens a:hover {
    transform: scale(1.1);
    color: white;
}

.introducao_especial,  .texo_higie , .passoapasso_texto  {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 2em;
    transition: color 0.3s ease, transform 0.2s ease-out;
    text-align: center;
}

.introducao_especial:hover, .texo_higie:hover , .passoapasso_texto:hover{
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

/* Para o menu ativo */
.itens a:active {
    transform: scale(0.95); 
    color: #FFD700;
}

/* Imagem do topo */
.topo_img {
    width: 100%;
    height: 900px; /* Aumenta a imagem em telas grandes */
    object-fit: cover;
    object-position: center;
}

.video iframe {
    width: 100%;
    height: 600px; 
}

.carrossel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.introducao_p{
    margin-top: 1%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    height: auto; 
    max-height: 600px; 
}


.imagem_repre {
    min-width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.Incorreto{
    color: red;
}

.correta{
    color: green;
}

.video-container {
    display: flex; /* Alinha os vídeos lado a lado */
    justify-content: space-around; /* Espaça os vídeos uniformemente */
    flex-wrap: wrap; /* Permite que os vídeos se movam para a próxima linha em telas menores */
    margin: 20px 0; /* Espaçamento acima e abaixo da seção */
}

.video-wrapper {
    flex: 1;
    min-width: 300px; 
    margin: 10px; 
    text-align: center; 
}

.video-comment {
    margin-top: 10px; 
    color: #ffffff; 
    font-size: 0.9em; 
}




@media (max-width: 768px) {
    .itens {
        display: none;
        flex-direction: column;
        gap: 15px;
        background-color: #365B6D;
        position: absolute;
        top: 60px;
        padding: 15px;
        border-radius: 5px;
        width: 200px;
    }

    .menu-hamburger {
        display: flex;
        margin-right: 15px;
    }

    .itens.show {
        display: flex;
    }
    

    .topo_img, .imagem_repre {
        height: 300px;
        object-position: top;
    }

    video{
        width: 100%;
        height: auto;
    }
}
